[application]
name = Sublime Text

[configuration_files]
# Based on https://packagecontrol.io/docs/syncing
Library/Application Support/Sublime Text/Packages/User

[xdg_configuration_files]
sublime-text/Packages/User

[sync_info]
has_native_sync = true
sync_mechanism = settings_sync
